n
OU                 = MyUnit
CN                 = test.mqtt.com

[ v3_req ]
subjectAltName     = @alt_names

[ alt_names ]
DNS.1              = test.mqtt.com
DNS.2              = localhost
IP.1               = 127.0.0.1